<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008718709445-jujip0ih4575kcr2gldpgltup8skm4m2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008718709445-jujip0ih4575kcr2gldpgltup8skm4m2</string>
	<key>API_KEY</key>
	<string>AIzaSyBeLv2glmAFN6_2H2qa17ImvSdRIVth7XQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1008718709445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testTest</string>
	<key>PROJECT_ID</key>
	<string>instagram-1248</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-1248.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008718709445:ios:26468f59cdd47b90e426ac</string>
</dict>
</plist>